@model Users
<div>
    <h3 class="display-4"> Congratulations @Model.Firstname @Model.Lastname  </h3>

 <div class="btn-group">
 <a class="btn btn-outline-success" asp-action="Index"> User </a>
 <a class="btn btn-success" asp-action="Index" asp-controller="Home">Home </a>
 <a class="btn btn-outline-info" asp-action="Index" asp-controller="Comment">Comment </a>


</div>

</div>
