@model List<web.Models.Users>

@if (Model.Count() > 0)
{
    <h2 class="text-center mb-4">Login</h2>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Actions</th> <!-- New column for actions -->
            </tr>
        </thead>
        <tbody>
            @foreach (web.Models.Users item in Model)
            {
                <tr>
                    <td>@item.Firstname</td>
                    <td>@item.Lastname</td>
                    <td>@item.Email</td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info">
        there is no number.Please click here.
        <a class="alert-link" asp-action="Apply">Apply</a>
    </div>
}